* {
    margin : 0; 
    padding : 0
}

body {
    background: linear-gradient(to right, #667eea, #764ba2);
    color: white;
    background-image: url(/practica5/images/spaceships.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

header {
    font-family: 'Isometra', sans-serif;
    width: 100vw;    
    height: 10vh;
    padding: 20px 10px 20px 10px;
    margin: 20px 0px 20px 0px;  
}

main {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 80vh;
    padding: 20px 10px 20px 10px;
    margin: 20px 0px 20px 0px;
}

footer {
    width: 100vw;
    height: 10vh;
    padding: 20px 10px 10px 10px;
    margin: 10px 0px 0px 0px;
}
